@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #a4a4a4;
    font-family: "Poppins", sans-serif;

}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 25rem;
    padding: 2rem;
    background-color: rgb(171, 97, 255);
    border-radius: 1rem;
    border: solid 1px black;
    box-shadow: 0 .5rem .3rem black;
}

.cont-gral{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 2rem;
}

img{
    width: 22rem;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-3rem) rotate(-6deg);
	}

	30% {
		transform: translateX(1.5rem) rotate(6deg);
	}

	45% {
		transform: translateX(-1.5rem) rotate(-3.6deg);
	}

	60% {
		transform: translateX(.9rem) rotate(2.4deg);
	}

	75% {
		transform: translateX(-.6rem) rotate(-1.2deg);
	}
}



.input{
    display: inherit;
    flex-direction: column;
    gap: .5rem;
}

label{
     font-weight: 700; 
}

input{
    border-radius: 2rem;
    border: black 0.13rem solid;
    height: 2rem;
    text-indent: 1rem;
}

#boton-ingresar{
    border-radius: 2rem;
    width: 50%;
    height: 2rem;
    margin: 0 auto;
    border: 1px solid black;
}

#boton-ingresar:hover{
    box-shadow: 0.4rem 0.4rem 1rem 0.1rem black;
    transition: .5s;
    background-color: black;
    color: white;
    cursor: pointer;
}
p,a {
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: rgb(67, 1, 90)
}

a:hover{
    transition: .5s;
    font-size: 1.2rem;
}