form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 25rem;
    padding: 2rem;
    background-color: rgb(171, 97, 255);
    border-radius: 1rem;
}

.cont-gral{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 2rem;
}

img{
    width: 20rem;
}

.input{
    display: inherit;
    flex-direction: column;
}